* {
  box-sizing: border-box;
}

@font-face {
  font-family: "000webfont";
  src: url("000webfont.ttf");
}

body {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 100px;

  
  background-image: url("stars.png");
  background-color: #000;
  background-size: 200px;
  color: #d8f0fc;
  
  font-family: "000webfont";
  font-size: 2em;
  
}

#layout {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
}

main {
  background: #c496ef;
  border: 2px solid white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.center {
  text-align: center;
}

figcaption {
  font-size: 0.8em;
}