:root {
  --color-accent: #cc3ecc;
  --color-accent-secondary: #8f5dd1;
  --color-text: black;
  --color-text-dark: white;
  --color-background: white;
  --color-background-dark: #1a1a1a;
  --color-surface: #e7dcef;
  --color-surface-dark: #453659;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: var(--color-text-dark);
    --color-background: var(--color-background-dark);
    --color-surface: var(--color-surface-dark);
  }
}

@font-face {
  font-family: "Lexend";
  src: url("Lexend-Regular.ttf");
}

body {
  font-family: 'Lexend';
  color: var(--color-text);
  background-color: var(--color-background);
  margin-inline: 1em;
}

header {
  margin-block: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  margin-bottom: 0;
  color: var(--color-accent);
}

#pronouns {
  color: var(--color-accent-secondary);
}

section {
  margin-block: 3em;
}

section h2 {
  text-align: center;
}

a {
  color: var(--color-accent-secondary)
}

article {
  margin-inline: auto;
  max-width: 45em;
}

.link-group {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  max-width: 50em;
  margin-inline: auto;
  justify-content: center;
}

.link-group a {
  border: 2px solid var(--color-text);
  border-radius: 0.5em;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 8em;
  box-shadow: 0 5px 0 0 var(--color-text);
  transition: 250ms ease;
  color: var(--color-text);
  text-decoration: none;
  text-align: center;
}

.link-group a:hover {
  box-shadow: 0 2px 0 0 var(--color-text);
  transform: translateY(2px);
  background-color: var(--color-surface);
  color: var(--color-accent-secondary);
}